@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Home Address<br />
    Fairbanks, AK <br />
    <abbr title="Phone">P: 555-555-5555</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:taki.vlasakakis@gmail.com">taki.vlasakakis@gmail.com</a><br />
</address>
