@{
    ViewData["Title"] = "Denali Elementary - .NET web app";
}

<div class="jumbotron">
    <h2>Denali Elementary - Home of the Panthers!</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Denali Elementary</h2>
        <p>
            This is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Check it out on Github&nbsp;<i class="fa fa-github" aria-hidden="true"></i></h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/takivlasakakis/UniversityWebApp">See project source code on Taki's Github page!' &raquo;</a></p>
    </div>
</div>